.primary-bold {
    color: $primary-default!important;
    font-weight: bold;
}
.primary-normal {
    color: $primary-default!important;
}

.white-bold {
    color: $color-white!important;
    font-weight: bold;
}
.white-normal {
    color: $color-white!important;
}

.black-bold {
    color: $color-normal!important;
    font-weight: bold;
}
.black-normal {
    color: $color-normal!important;
}

.primary-bold-1 {
    color: $primary-default-1!important;
    font-weight: bold;
}
.primary-normal-1 {
    color: $primary-default-1!important;
}
.primary-bold-2 {
    color: $primary-default-2!important;
}
.primary-normal-2 {
    color: $primary-default-2!important;
}