.#{$prefixClass}-year-panel {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  z-index: 10;
  position: absolute;
  outline: none;

  > div {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.#{$prefixClass}-year-panel-hidden {
  display: none;
}

.#{$prefixClass}-year-panel-header {
  padding: 0 16px;
  height: 40px;
  line-height: 56px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;

  > a {
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    top: 16px;

    &:hover {
      cursor: pointer;
      color: #23c0fa;
    }
  }
}

.#{$prefixClass}-year-panel-prev-decade-btn, .#{$prefixClass}-year-panel-next-decade-btn {
  position: absolute;
  top: 0;
}

.#{$prefixClass}-year-panel-next-decade-btn {
  right: 16px!important;
  &:after {
    content: '\e9b4';
    font-family: 'icomoon';
  }
}

.#{$prefixClass}-year-panel-prev-decade-btn {
  user-select: none;
  right: 56px;

  &:after {
    content: '\e9b7';
    font-family: 'icomoon';
  }
}

.#{$prefixClass}-year-panel .#{$prefixClass}-year-panel-decade-select {
  width: 120px;
  left: 16px;
  position: absolute;
  text-align: left;
  font-size: 14px;
  padding-left: 8px;
}

.#{$prefixClass}-year-panel-decade-select-arrow {
  display: none;
}

.#{$prefixClass}-year-panel-next-decade-btn {
  user-select: none;
  right: 0;
}

.#{$prefixClass}-year-panel-body {
  flex: 1;
  padding: 8px 16px;
}

.#{$prefixClass}-year-panel-footer {
  border-top: 1px solid #ccc;
  line-height: 38px;
}

.#{$prefixClass}-year-panel-table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border-collapse: separate;
}

.#{$prefixClass}-year-panel-cell {
  text-align: center;
  padding: 0;
}

.#{$prefixClass}-year-panel-year {
  display: block;
  margin: 0 auto;
  color: #666;
  border-radius: 25px;
  height: 36px;
  padding: 0;
  background: transparent;
  line-height: 36px;
  text-align: center;

  &:hover {
    background: #eaf6ff;
    cursor: pointer;
  }
}

.#{$prefixClass}-year-panel-selected-cell .#{$prefixClass}-year-panel-year {
  background: $color-background-active;
  //color: #fff;
}

.#{$prefixClass}-year-panel-last-decade-cell, .#{$prefixClass}-year-panel-next-decade-cell {
  .#{$prefixClass}-year-panel-year{
    user-select: none;
    -webkit-user-select: none;
    color: rgba(0, 0, 0, 0.25);
  }
}